<footer>
  <address>
    Site : <a href="www.ambitioncoiffure.fr">www.ambitioncoiffure.fr</a><br>
    Email <a href="mailto:mezgani.said@gmail.com">.....@gmail.com</a><br>
    Adresse : 4 route de Bitche, 67510, Lembach, Alsace, France<br>
    Tel : +(33)0660440881<br>
  </address>
  <div class="social-box">
    <a href="https://www.facebook.com/Coiffure-AMbition-200765867380447/"><img src="./images/facebook-circle.png" class="social-footer"></a>
  </div>
</footer>
