<footer>
  <address>
    Site internet : <a href="www.ambitioncoiffure.fr">www.coiffureambition.fr</a><br>
    Email <a href="mailto:mezgani.said@gmail.com">contact.coiffureambition.fr</a><br>
    Adresse : 4 route de Bitche, 67510, Lembach, Alsace, France <img src="./images/Logo-alsace-pink.png" class="logo-alsace"><br>
    Tel : +(33)388868071<br>
  </address>
  <div class="social-box">
    <a href="https://www.facebook.com/Coiffure-AMbition-200765867380447/"><img src="./images/facebook-circle.png" class="social-footer"></a>
  </div>
</footer>
