<footer>Bonjour
  <div class="social-box">
    <a href="https://www.facebook.com/Coiffure-AMbition-200765867380447/"><img src="./images/facebook-circle.png" class="social-footer"></a>
  </div>
</footer>
