<div class="navbar-wagon">
      <a href="/"><img src="./images/logo-audrey.png" alt="logo ambition coiffure salon audrey" class="logo"></a>

      <div class="navbar-wagon-right hidden-xs">
        <ul class="list-inline">
          <li>
            <a href="/">Accueil</a>
          </li>
          <li>
            <a href="propos.html">
              Horaires
            </a>
          </li>

          <div class="dropdown">
            <a class="dropbtn">Services</a>
            <div class="dropdown-content">
              <a href="coiffure-hommes.html">Coupe Homme</a>
              <a href="coiffure-femmes.html">Coupe Femme</a>
              <a href="barbier.html">Barbier</a>
              <a href="services.html">Tous les services</a>
            </div>
          </div>
          <li>
            <a href="gallerie.html">
              Gallerie
            </a>
          </li>
          <li>
            <a href="contact.html">
              Rendez-vous
            </a>
          </li>
          <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Tous les services</a>
          <a class="dropdown-item" href="#">Coupe Homme</a>
          <a class="dropdown-item" href="#">Coupe Femme</a>
          <a class="dropdown-item" href="#">Coiffure à domicile</a>
          <a class="dropdown-item" href="#">Barbier</a>
        </div>
      </li>-->
        </ul>
      </div>
      <div class="dropdown visible-xs">
        <div class="navbar-wagon-item hidden-md hidden-lg">
          <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><a href="index.html">Accueil</a></li>
              <hr>
              <li><a href="propos.html">A propos</a></li>
              <li><a href="services.html">Tous les services</a></li>
              <li><a href="coiffure-homme.html">Coupe Homme</a></li>
              <li><a href="coupes-femme.html">Coupe Femme</a></li>
              <li><a href="barbier.html">Barbier</a></li>
              <li><a href="gallerie.html">Gallerie</a></li>
              <hr>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
