.banner {
  color: white;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.banner h1 {
  font-size: 60px;
  width: 100%;
  color: white;
  background-color: transparent;
  animation-name: welcome;
  animation-duration: .9s;
}
h1 {
  animation-name: welcome;
  animation-duration: .9s;
}
.home-banner {
  width: 100%;
  z-index: -1;
}
#welcome {
  background-image: url("../images/home/home-banner.png");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  h1 {
    background-color: transparent;
    color: white;
  }
}
