.bouton {
  background-color: #CF2681;
  color: white;
  padding: 10px 30px;
  border-radius: 3px;
  text-decoration: none;
  display: block;
  width: 200px;
  text-align: center;
}
.bouton:hover {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}
