.link-pink {
  color: $pink;
  text-decoration: none;
  border: solid 2px;
  padding: 2px 10px;
  border-radius: 3px;
  &:hover {
    background-color: $pink;
    color: white;
    text-decoration: none;
    border: solid 2px $pink;
  }
}
