.round-hair {

}
.coiffures {
  h2 {
    padding: 0px;
    text-align: left;
  }
  margin-bottom: 20px;
}

@media all and (max-width: 980px)
{
  .coiffures {
    h2 {
      text-align: center;
    }
  }
}
