/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

body {
  background-image: linear-gradient(0deg, #010F20 0%, #D8D8D8 100%);
  border: 1px solid #979797;
}
main {
  min-height: 100vh;
}
h1 {
  font-size: 60px;
  background-color: white;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  animation-name: welcome;
  animation-duration: .9s;
  color: black;
  /*font-family: 'Satisfy', cursive; */
  font-family: 'Dancing Script', cursive;
  text-align: center;
  }
h2 {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}
#text-content {
  height: 100vh;
  }
.cookies {
  background-color: white;
  padding-top: 35px;
  h2 {

    margin-bottom: 20px;
  }
  .cook-white {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}
