<div class="navbar-wagon">
      <a href="/index.html"><img src="/images/logo-audrey.png" alt="Le Wagon logo" class="logo"></a>

      <div class="navbar-wagon-right hidden-xs">
        <ul class="list-inline">
          <li>
            <a href="/index.html">
              Accueil
            </a>
          </li>
          <li>
            <a href="propos.html">
              A propos
            </a>
          </li>

          <div class="dropdown">
            <a class="dropbtn">Services</a>
            <div class="dropdown-content">
              <a href="#">Coupes Homme</a>
              <a href="coiffure-femmes.html">Coupes Femme</a>
              <a href="barbier.html">Barbier</a>
              <a href="services.html">Tous les services</a>
            </div>
          </div>
          <li>
            <a href="gallerie.html">
              Gallerie
            </a>
          </li>
          <li>
            <a href="contact.html">
              Rendez-vous
            </a>
          </li>
          <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Tous les services</a>
          <a class="dropdown-item" href="#">Coupe Homme</a>
          <a class="dropdown-item" href="#">Coupe Femme</a>
          <a class="dropdown-item" href="#">Coiffure à domicile</a>
          <a class="dropdown-item" href="#">Barbier</a>
        </div>
      </li>-->
        </ul>
      </div>
      <div class="dropdown visible-xs">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-bars"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">A propos</a></li>
          <ul class="under-list">Services
            <li><a href="#">Coupe Homme</a></li>
            <li><a href="coiffure-femmes.html">Coupe Femme</a></li>
            <li><a href="#">Barbier</a></li>
            <li><a href="services.html">Tous les services</a></li>
          </ul>

          <li role="separator" class="divider"></li>
          <li><a href="contact.html">Rendez-vous</a></li>
        </ul>
      </div>
    </div>
