<h1>Cookies Coiffure Ambition</h1>
<div class="cookies">
  <div class="cook-white">
<h2>Un cookie, qu’est-ce que c’est ?</h2>

<p>Un cookie est un petit fichier que le navigateur stocke localement sur le disque dur de l'internaute et qui permet d'enregistrer des informations sur l'internaute ou sur son parcours sur un site web : il n'a pour but que de vous simplifier la navigation sur le site et ne peut contenir de virus.</p>

<p>On peut distinguer deux types de cookies :</p>

<h3>Les cookies :</h3>
<p>Notre site est conçu pour être particulièrement attentif aux besoins et aux attentes de nos clients. C'est entre autres pour cela que nous utilisons ces fichiers afin de vous simplifier l’accès à votre compte, gérer votre panier de commande, mémoriser vos consultations et personnaliser les offres que nous vous proposons et les informations que nous vous adressons. Les cookies sont donc utilisés dans le but d'améliorer le service personnalisé qui vous est destiné.</p>

<h3>Les cookies tiers :</h3>
<p>Il s'agit des cookies déposés par des sociétés tierces (par exemple des régies publicitaires ou par des partenaires) afin d'identifier vos centres d'intérêt au travers des produits consultés ou achetés sur notre site et personnaliser l'offre publicitaire qui vous est adressée sur notre site ou en dehors de notre site. Ils peuvent être déposés à l'occasion de la navigation sur notre site ou lorsque vous cliquez dans les espaces publicitaires de notre site.</p>

<p>Nous n'avons pas la maîtrise des cookies déposés par les régies publicitaires qui agissent pour leur propre compte. Dans le cadre des partenariats publicitaires nous pouvons être amenés à transmettre aux partenaires qui agissent pour notre compte des données concernant vos achats et les produits consultés sur notre site. Nous veillons à ce que les sociétés partenaires acceptent de traiter les informations collectées sur le site exclusivement pour les besoins du site et conformément à nos instructions, dans le respect de la loi «Informatique et Libertés » du 6 janvier 1978 modifiée et s'engagent à mettre en œuvre des mesures appropriées de sécurisation et de protection de la confidentialité des données.</p>


<h3>Comment puis-je refuser les cookies ?</h3>

<p>Il vous est possible de refuser les cookies, toutefois, certaines fonctionnalités du site risquent de ne pas fonctionner correctement.</p>

<p>Voici les instructions de désactivation des cookies:</p>
    <h4>Si vous utilisez le navigateur Internet Explorer :</h4>
<p>Dans Internet Explorer, cliquez sur le bouton Outils, puis sur Options Internet.
Sous l'onglet Général, sous Historique de navigation, cliquez sur Paramètres.
Cliquez sur le bouton Afficher les fichiers.
Cliquez sur l'en-tête de colonne Nom pour trier tous les fichiers dans l'ordre alphabétique, puis parcourez la liste jusqu'à ce que vous voyiez des fichiers commençant par le préfixe Cookie (tous les cookies possèdent ce préfixe et contiennent habituellement le nom du site Web qui a créé le cookie).
Sélectionnez le ou les cookies et supprimez-les.
Fermez la fenêtre qui contient la liste des fichiers, puis cliquez deux fois sur OK pour retourner dans Internet Explorer.</p>
    <h4>Si vous utilisez le navigateur Firefox :</h4>
<p>Allez dans l'onglet Outils du navigateur puis sélectionnez le menu Options.
Dans la fenêtre qui s'affiche, choisissez Vie privée et cliquez sur Affichez les cookies.</p>
<p>Dans le champ Recherche, tapez le mot-clé:.....
Les fichiers qui contiennent le nom avec le mot-clé apparaîtront. Sélectionnez-les et supprimez-les.</p>
    <h4>Si vous utilisez le navigateur Safari :</h4>
<p>Dans votre navigateur, choisissez le menu Édition > Préférences.<br>
Cliquez sur Sécurité.<br>
Cliquez sur Afficher les cookies.<br>
Sélectionnez ceux contenant le mot-clé et cliquez sur Effacer ou sur Tout effacer.<br>
Après la suppression, cliquez sur Terminé.</p>
    <h4>Si vous utilisez le navigateur Google Chrome :</h4>
<p>Cliquez sur l'icône du menu Outils.<br>
Sélectionnez Options.<br>
Cliquez sur l'onglet Options avancées et accédez à la section Confidentialité.<br>
Cliquez sur le bouton Afficher les cookies.<br>
Repérez ceux contenant le mot-clé . Sélectionnez-les et supprimez-les.<br>
Cliquez sur Fermer pour revenir à votre navigateur.</p>
    <h4>Si vous utilisez un autre navigateur :</h4>
<p>Consultez la rubrique d'aide propre à ce navigateur (généralement accessible en cliquant sur l'onglet ? puis Aide ou en pressant la touche F1 de votre clavier).</p>
  </div>
</div>
