---
title: Coiffure Ambition, salon de coiffure, chez Audrey
description: Salon de coiffure à Lembach, service de barbier, vente de cosmetiques capillaires, vente de bijoux fantaisies.
robots: index, follow
---

<div id="welcome">
  <h1>Bienvenue Chez Audrey</h1>
</div><!-- .welcome -->

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <p class="">Le salon de co</p>
      </div>
      <div class="message-important col-xs-12 col-sm-4">
        <h2>Message important</h2>
        <p>Le salon sera fermé du 11 au 17 février</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag 'home/lavabo-oval.png', class: "home-circle" %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>fzemgbmerbguerq fzeoùfzi</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p>fzemgbmerbguerq fzeoùfzi</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag 'home/produits.png', class: "home-circle" %>
      </div>
    </div>

  </div>
</div>
