---
title: Coiffure Ambition, salon de coiffure, chez Audrey à Lembach
description: Salon de coiffure à Lembach, service de barbier, vente de cosmetiques capillaires, vente de bijoux fantaisies.
robots: index, follow
---

<div id="welcome">
  <div class="titre">
    <h1>Coiffure Ambition</h1>
    <h2>Chez Audrey</h2>
  </div>
</div><!-- .welcome -->

<div id="home-content">
  <div class="wrapper">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <p class=""></p>
        </div>
        <div class="message-important col-xs-12 col-md-4">
          <h2>Message important</h2>
          <p>Le salon sera fermé du 11 au 17 février</p>
        </div>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-6"></p>
        <p class="col-xs-12 col-md-6">
          Repris par Audrey Walther, ce salon de coiffure situé dans le centre ville de Lembach a fait peau neuve en avril 2018 et propose aujourd'hui modernité dans ses locaux et dans les coupes de cheveux que propose Audrey à ses clients.<br><br>
          Diplômée d'un brevet de maîtrise et d'une longue expérience dans l'univers de la coiffure, Audrey saura vous apporter conseil et savoir-faire dans la réalisation de votre coiffure.
        </p>
      </div><!-- Fin de la row-->
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h2>Galerie Photos</h2>
          <p>
            Trouvez l'inspiration pour votre prochaine coupe de cheveux en visitant la galerie photos.<br>
            <%= link_to 'voir la galerie photos', '/gallerie.html', class: "link-pink" %>
          </p>
        </div>
        <div class="col-xs-12 col-md-6">
          <%= image_tag 'hair-round-blue.png', alt: "coupe cheveux mi longs femme brune", class: "img-circle" %>
        </div>
      </div><!-- Fin de la row-->
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <%= image_tag 'home/barbershop.png', alt: "coupe cheveux mi longs femme brune", class: "barbershop", width: 300 %>
        </div>
        <div class="col-xs-12 col-md-6">
          <h2>Taille de barbe</h2>
          <p>Offrez-vous ou à un proche un moment de détente avec une authentique taille de barbe proposée au sein du salon<br>
          <%= link_to 'voir le tarif', '/tarifs.html#prix-homme', class: "link-pink" %>
          </p>
        </div>
      </div><!-- Fin de la row-->
    </div>

  </div>
</div>
