---
title: Horaires du salon et contact - Ambition Coiffure
description: Les horaires d'ouverture du salon, le numéro de téléphone pour prendre un rendez-vous
robots: index, follow
---
<h1>Horaires du salon, contact</h1>
<div class="horaires-box">
<h2>Horaires d'ouverture</h2>
  <div class="container">
    <% data.horaires.horaires.each do |day| %>
    <div class="row">
      <div class="horaires col-xs-12 col-sm-offset-3 col-sm-6">
        <p class="col-xs-4"><%= day.jour %></p>
        <p class="col-xs-4"><%= day.matin %></p>
        <p class="col-xs-4"><%= day.midi %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="contact-box contact col-xs-12 col-sm-offset-3 col-sm-6">
      <h2 class="white-title">Contact</h2>
      <p class="col-xs-12"><img src="./images/tel-icon.png" class="icon tel"><a href="tel:0388868071" class="tel-call">03 88 86 80 71</a></p>
      <p class="col-xs-12"><img src="./images/shop.png" class="icon shop">4 route de Bitche, 67510, Lembach, Alsace</p>
      <p class="col-xs-12"><a href="mailto:contact@coiffureambition.fr"><img src="./images/mail.png" class="icon shop">contact@coiffureambition.fr</a></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="contact-box contact col-xs-12 col-sm-offset-3 col-sm-6">
      <h2 class="white-title">Réseaux Sociaux</h2>
      <p class="col-xs-12"><a href="https://www.facebook.com/Coiffure-AMbition-200765867380447/"><img src="./images/facebook-circle.png" class="social-footer propos">Me suivre sur Facebook</a></p>
    </div>
  </div>
</div>

